<template>
  <div class="about-me">
    <h1>{{ title }}</h1>
    <div class="block">
      <img src="../../assets/images/me.jpg">
      <p class="description">Pellentesque vel urna interdum tellus aliquam vestibulum quis a eros. Aenean pulvinar justo venenatis commodo lacinia. Suspendisse maximus id arcu eu hendrerit. Cras congue metus id velit pretium dapibus et ac nisl. Praesent faucibus ex quis nisl pharetra lobortis. Aliquam ultrices viverra ex, a aliquet nulla dignissim eget. Duis ut nibh consequat, pulvinar justo eget, vulputate purus. Donec porta imperdiet eleifend. Aliquam erat volutpat. Sed pulvinar ut nibh nec volutpat.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutMe',
  data () {
    return {
      title: 'About me'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  img {
    max-width: 100%;
  }
</style>
