<template>
  <div class="about-my-dog">
    <h1>{{ title }}</h1>
    <div class="block">
      <slideshow :slides="slides"></slideshow>
      <p class="description">Doggo ipsum heckin angery woofer fat boi borking doggo ruff thicc blop you are doin me a concern you are doing me the shock, doge you are doing me the shock maximum borkdrive heck borking doggo. Dat tungg tho aqua doggo stop it fren super chub, doing me a frighten. Such treat aqua doggo very taste wow, tungg. H*ck what a nice floof waggy wags corgo noodle horse fat boi, blop fluffer borkf boofers, boof shibe you are doing me a frighten tungg. Mlem very good spot such treat I am bekom fat bork, long water shoob I am bekom fat.  Long water shoob I am bekom fat length boy wrinkler fat boi heck, fat boi borkf boof big ol. Woofer borkf bork porgo dat tungg tho, long doggo long woofer porgo.</p>
    </div>
  </div>
</template>

<script>
import Slideshow from '../Slideshow.vue'

import MyDog from '../../assets/images/my-dog.jpg'
import MyDog1 from '../../assets/images/my-dog-1.jpg'
import MyDog2 from '../../assets/images/my-dog-2.jpg'

export default {
  name: 'AboutMyDog',
  components: {
    Slideshow
  },
  data () {
    return {
      title: 'About my dog',
      slides: [
        {
          text: 'My dog',
          src: MyDog
        },
        {
          text: 'My dog 1',
          src: MyDog1
        },
        {
          text: 'My dog 2',
          src: MyDog2
        }
      ]
    }
  }
}
</script>
