<template>
  <div class="contact">
    <h1>{{ title }}</h1>
    <contact-form @contact="send"></contact-form>
  </div>
</template>

<script>
import ContactForm from '../ContactForm.vue'

export default {
  name: 'Contact',
  components: {
    ContactForm
  },
  data () {
    return {
      title: 'Contact form'
    }
  },
  methods: {
    send (payload) {
      console.log(payload)
    }
  }
}
</script>
