<template>
  <div class="news">
    <h1>{{ title }}</h1>
    <news-block :articles="articles"></news-block>
  </div>
</template>

<script>
import NewsBlock from '../NewsBlock.vue'

export default {
  name: 'News',
  components: {
    NewsBlock
  },
  data () {
    return {
      title: 'Latest news',
      articles: [
        {
          title: 'Lorem ipsum',
          content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante ligula, auctor quis tellus id, vulputate ullamcorper elit. Nulla facilisi. Sed tellus enim, dignissim venenatis massa sit amet, sollicitudin elementum justo. Donec eget fringilla massa. Donec ac posuere lorem. Morbi pretium scelerisque nulla, vel mattis nisl convallis quis. Aliquam ullamcorper tristique dignissim. Suspendisse interdum vel turpis nec rutrum. Nam nisi turpis, dignissim a massa eget, volutpat varius ipsum. Nunc fermentum odio ac scelerisque venenatis. Cras ac mi scelerisque, cursus leo a, euismod lorem. Nulla cursus ligula eu interdum iaculis. Nulla gravida sollicitudin enim ut consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi venenatis sed purus vel sollicitudin.',
          timestamp: '1552237672'
        }
      ]
    }
  }
}
</script>
