<template>
  <div class="form">
    <div class="form-errors">
      <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="(error, key) in errors" :key="key">{{ error }}</li>
        </ul>
      </p>
    </div>
    <label>Name:</label><br>
    <input type="text" v-model="name"><br>
    <label>Email:</label><br>
    <input type="email" v-model="email"><br>
    <label>Message:</label><br>
    <textarea rows="5" cols="50" v-model="message"></textarea><br>
    <button class="form-button" v-on:click="send">Send</button>
  </div>
</template>

<script>
export default {
  name: 'ContactForm',
  data () {
    return {
      name: null,
      email: null,
      message: null,
      errors: []
    }
  },
  methods: {
    send () {
      if (this.name && this.email && this.message) {
        const payload = {
          name: this.name,
          email: this.email,
          message: this.message
        }

        this.$emit('contact', payload)

        alert('Thank you for contacting me!')
      }

      this.errors = []

      if (!this.name) {
        this.errors.push('Name required.')
      }

      if (!this.email) {
        this.errors.push('Email required.')
      }

      if (!this.message) {
        this.errors.push('Message required.')
      }
    }
  }
}
</script>
