<template>
  <ul>
    <li><router-link class="active" to="home">Home</router-link></li>
    <li><router-link to="news">News</router-link></li>
    <li><router-link to="contact">Contact</router-link></li>
    <li class="dropdown">
      <a to="contact">About<span class="chevron bottom" /></a>
      <div class="dropdown-content">
        <router-link to="about-me">Me</router-link>
        <router-link to="about-my-dog">My dog</router-link>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'NavigationBar',
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover {
    background-color: #111;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .chevron::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }

  .chevron.bottom:before {
    left: 7px;
    top: 1px;
    transform: rotate(135deg);
  }
</style>
