<template>
  <div class="block">
    <div class="article" v-for="(article, key) in articles" :key="key">
      <h2 class="title">{{ article.title }}</h2>
      <p class="content">{{ article.content }}</p>
      <br>
      <p class="timestamp">{{ formatDate(article.timestamp) }}</p>
    </div>
  </div>
</template>

<script>
import formatDate from './mixins/date.js'

export default {
  name: 'NewsBlock',
  mixins: [formatDate],
  props: {
    articles: {
      type: Array,
      default: function () { return [] }
    }
  }
}
</script>
