<template>
    <div class="slideshow" v-if="slides.length > 0">
        <div class="numbertext">{{ currentSlide }} / {{ slides.length }}</div>

        <img :src="slides[currentSlide - 1].src">

        <a class="previous" v-on:click="previousSlide"><span class="chevron left"></span></a>
        <a class="next" v-on:click="nextSlide"><span class="chevron right"></span></a>

        <div class="text">{{ slides[currentSlide - 1].text }}</div>
    </div>
</template>

<script>
export default {
  name: 'Slideshow',
  props: {
    slides: {
      type: Array,
      default: function () { return [] }
    }
  },
  data () {
    return {
      currentSlide: 1
    }
  },
  methods: {
    previousSlide () {
      if (this.currentSlide > 1) {
        this.currentSlide--
      } else {
        this.currentSlide = this.slides.length
      }
    },
    nextSlide () {
      if (this.currentSlide < this.slides.length) {
        this.currentSlide++
      } else {
        this.currentSlide = 1
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .slideshow {
    position: relative;
  }

  img {
    max-width: 100%;
  }

  .chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }

  .chevron.right:before {
    left: 0;
    transform: rotate(45deg);
  }

  .chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }

  .previous {
    position: absolute;
    left: 5px;
    top: 47%;
  }

  .next {
    position: absolute;
    right: 8px;
    top: 47%;
  }

  .previous:hover,
  .next:hover {
    cursor: pointer;
  }

  .numbertext {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
  }

  .text {
    position: absolute;
    left: 47%;
    bottom: 10px;
    font-size: 12px;
    font-weight: bold;
  }
</style>
