.form,
.block {
  width: 522px;
  margin: 0 auto;
}

.form > input,
.form > textarea {
  width: 500px;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.form > label {
  float: left;
}

.form-button {
  height: 37px;
  width: 87px;
  float: right;
}

.form-errors {
  width: 522px;
  text-align: left;
}

.article > p {
  margin: 0;
}

.article > .title {
  text-align: left;
}

.article > .content {
  text-align: justify;
}

.article > .timestamp {
  text-align: right;
  color: lightgray;
}

.block > .description {
  text-align: justify;
}